.page-title-box {
    padding-bottom: 0.5rem;
}

.page-content {
    padding: 0.75rem 0.75rem var(--taplox-footer-height) 0.75rem;
}

.card-body {
    padding: 0.4rem 0.6rem;
}

.card-header {
    padding: 0.4rem 0.6rem;
}

.card-title {
    margin-top: 10px;
}


table tbody tr td, table tr td {
    padding: 4px 5px !important;
}